.App {
  text-align: center;
}

@font-face {
  font-family: Imported ;
  src: url(../src/components/fonts/Gilroy-SemiBold.ttf);
}

#root{
  font-family: Imported, Avenir Next;
}

@font-face {
  font-family: Avenir Next ;
  src: url(../src/components/fonts/Avenir\ Next\ Font.ttf);
}
